.sidemenu-logo-frame {
  margin-right: 3px !important;
  max-width: 170px !important;
}
.sidemenu-logo {
  width: 40px;
  img {
    width: 40px;
  }
}
.v-icon, .v-list-item__title{
  color: red !important;
}
