.upload-form{
  margin: 100px auto;
  width: 85%;
  max-width: 620px;
  .mdi-camera-plus-outline::before {
    color: coral !important;
  }
  &__title {
    display: block !important;
    text-align: center !important;
    color: gray;
    font-size: 1.25rem !important;
    &__sp {
      display: none;
    }
  }
  &__bth-frame {
    .mdi-camera-plus-outline::before {
      font-size: 110px !important;
      color: coral !important;
    }
    .v-input__prepend-outer {
      margin: 0 auto !important;
    }
    .v-input__icon--prepend {
      width: 180px !important;
      height: 180px !important;
      border: 10px solid coral !important;
      border-radius: 90px !important;
    }
    .loading {
      width: 180px !important;
      height: 180px !important;
      margin-bottom: 15px !important;
      margin-top: 0px !important;
    }
  }
}

.calculate-frame {
  display: block;
  text-align: center;
  .uploadStatus {
    display: block;
    color: gray;
    font-size: 12px;
  }
  .loading {
    width: 180px !important;
    height: 180px !important;
    margin-bottom: 15px !important;
  }
}

.sample_img_dl_frame {
  position: fixed;
  top: 500px;
  right: 30px;
  width: 220px;
  height: 50px;
  background: white;
  border-radius: 10px;
  padding: 0 5px;
  text-align: center;
}

@media (max-width: 767px) {
  .upload-form{
    &__title {
      &__pc {
        display: none;
      }
      &__sp {
        display: inline;
      }
    }
  }
  .sample_img_dl_frame {
    display: none;
  }
}

